UNIR.TFG.ELT_Dataset.V40.Ng/Web References/wsSAS/utilidadessas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="dsAccesoSAS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nemonico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Programa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dsAccesoSASResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsAccesoSASResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dsCrearInstanciaSAS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Nemonico" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUniqueId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dsCrearInstanciaSASResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsCrearInstanciaSASResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="strUniqueId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dsEjecutarSAS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUniqueId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Programa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dsEjecutarSASResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsEjecutarSASResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dsCerrarInstanciaSAS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strUniqueId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dsCerrarInstanciaSASResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dsCerrarInstanciaSASResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="dsAccesoSASSoapIn">
    <wsdl:part name="parameters" element="tns:dsAccesoSAS" />
  </wsdl:message>
  <wsdl:message name="dsAccesoSASSoapOut">
    <wsdl:part name="parameters" element="tns:dsAccesoSASResponse" />
  </wsdl:message>
  <wsdl:message name="dsCrearInstanciaSASSoapIn">
    <wsdl:part name="parameters" element="tns:dsCrearInstanciaSAS" />
  </wsdl:message>
  <wsdl:message name="dsCrearInstanciaSASSoapOut">
    <wsdl:part name="parameters" element="tns:dsCrearInstanciaSASResponse" />
  </wsdl:message>
  <wsdl:message name="dsEjecutarSASSoapIn">
    <wsdl:part name="parameters" element="tns:dsEjecutarSAS" />
  </wsdl:message>
  <wsdl:message name="dsEjecutarSASSoapOut">
    <wsdl:part name="parameters" element="tns:dsEjecutarSASResponse" />
  </wsdl:message>
  <wsdl:message name="dsCerrarInstanciaSASSoapIn">
    <wsdl:part name="parameters" element="tns:dsCerrarInstanciaSAS" />
  </wsdl:message>
  <wsdl:message name="dsCerrarInstanciaSASSoapOut">
    <wsdl:part name="parameters" element="tns:dsCerrarInstanciaSASResponse" />
  </wsdl:message>
  <wsdl:portType name="UtilidadesSASSoap">
    <wsdl:operation name="dsAccesoSAS">
      <wsdl:input message="tns:dsAccesoSASSoapIn" />
      <wsdl:output message="tns:dsAccesoSASSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dsCrearInstanciaSAS">
      <wsdl:input message="tns:dsCrearInstanciaSASSoapIn" />
      <wsdl:output message="tns:dsCrearInstanciaSASSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dsEjecutarSAS">
      <wsdl:input message="tns:dsEjecutarSASSoapIn" />
      <wsdl:output message="tns:dsEjecutarSASSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dsCerrarInstanciaSAS">
      <wsdl:input message="tns:dsCerrarInstanciaSASSoapIn" />
      <wsdl:output message="tns:dsCerrarInstanciaSASSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UtilidadesSASSoap" type="tns:UtilidadesSASSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dsAccesoSAS">
      <soap:operation soapAction="http://tempuri.org/dsAccesoSAS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsCrearInstanciaSAS">
      <soap:operation soapAction="http://tempuri.org/dsCrearInstanciaSAS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsEjecutarSAS">
      <soap:operation soapAction="http://tempuri.org/dsEjecutarSAS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsCerrarInstanciaSAS">
      <soap:operation soapAction="http://tempuri.org/dsCerrarInstanciaSAS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UtilidadesSASSoap12" type="tns:UtilidadesSASSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="dsAccesoSAS">
      <soap12:operation soapAction="http://tempuri.org/dsAccesoSAS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsCrearInstanciaSAS">
      <soap12:operation soapAction="http://tempuri.org/dsCrearInstanciaSAS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsEjecutarSAS">
      <soap12:operation soapAction="http://tempuri.org/dsEjecutarSAS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dsCerrarInstanciaSAS">
      <soap12:operation soapAction="http://tempuri.org/dsCerrarInstanciaSAS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UtilidadesSAS">
    <wsdl:port name="UtilidadesSASSoap" binding="tns:UtilidadesSASSoap">
      <soap:address location="http://192.168.50.26/utilidades/utilidadessas.asmx" />
    </wsdl:port>
    <wsdl:port name="UtilidadesSASSoap12" binding="tns:UtilidadesSASSoap12">
      <soap12:address location="http://192.168.50.26/utilidades/utilidadessas.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>